<form [formGroup]="formGroup">
  <div class="p-card">
    <p-table [value]="penaltyArray.controls" [autoLayout]="true">
      <ng-template pTemplate="caption">
        <h3>Tresty</h3>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem">P.č.</th>
          <th class="align-center" style="width: 10rem">Kolo</th>
          <th class="align-center" style="width: 10rem">Typ</th>
          <th class="align-center" style="width: 10rem">Trestné body</th>
          <th style="min-width: 15rem !important">Poznámka</th>
          <th style="width: 10rem" *ngIf="!readonly"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-penalty let-rowIndex="rowIndex">
        <ng-container
          *ngTemplateOutlet="
            readonly ? readTemplate : editTemplate;
            context: {
              penalty: readonly ? penalty.value : penalty,
              rowIndex: rowIndex
            }
          "
        ></ng-container>
      </ng-template>
    </p-table>
  </div>

  <ng-template
    formArrayName="penalty"
    #editTemplate
    let-penalty="penalty"
    let-rowIndex="rowIndex"
  >
    <tr [formGroupName]="rowIndex">
      <td>{{ rowIndex + 1 }}</td>
      <td class="p-fluid">
        <p-dropdown
          id="round"
          [autoDisplayFirst]="false"
          [options]="roundsIndexed"
          optionValue="value.index"
          formControlName="roundIndex"
          appendTo="body"
        ></p-dropdown>
      </td>
      <td class="p-fluid">
        <p-dropdown
          id="type"
          [autoDisplayFirst]="false"
          [options]="penaltyTypes"
          formControlName="type"
          appendTo="body"
          (onChange)="penaltyTypeChange(rowIndex, $event.value)"
        ></p-dropdown>
      </td>
      <td class="p-fluid">
        <input
          type="number"
          id="penalty"
          formControlName="penalty"
          min="0"
          pInputText
        />
      </td>
      <td class="p-fluid">
        <input type="text" id="text" formControlName="text" pInputText />
      </td>
      <td class="p-d-flex p-jc-evenly">
        <ng-container *ngIf="penalty.value.id; else newPenalty">
          <button
            pButton
            (click)="onSave(penalty)"
            [disabled]="!penalty.valid || penalty.pristine"
            type="button"
            icon="pi pi-save"
            class="p-button-rounded p-button-success"
          ></button>
          <button
            pButton
            (click)="onDelete($event, penalty)"
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
          ></button>
        </ng-container>
        <ng-template #newPenalty>
          <button
            pButton
            [disabled]="!penalty.valid"
            (click)="onCreate(penalty)"
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-info"
          ></button>
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template #readTemplate let-penalty="penalty" let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td class="align-center">{{ rounds[penalty.roundIndex]?.name }}</td>
      <td class="align-center">{{ penalty.type }}</td>
      <td class="align-center">{{ penalty.penalty }}</td>
      <td>{{ penalty.text }}</td>
    </tr>
  </ng-template>
</form>
