:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 1rem;
}

:host ::ng-deep .available:hover {
  cursor: pointer;
}

@media only screen and (min-width: 641px) {
  td > .showable {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  td.collapsable {
    display: none;
  }
  th.collapsable {
    display: none;
  }
  td > .showable {
    display: inline;
  }
}

.year-dropdown{
  width: 150px;
}

