.header-div {
  padding: 0.5rem 0 0 1rem;
  margin-bottom: 0;
}

:host ::ng-deep .p-datatable tr:nth-child(even) {
  background-color: white;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: white;
}

:host ::ng-deep .cup-item0 {
  background-color: rgba(255, 215, 0, 0.2) !important;
}

:host ::ng-deep .cup-item1 {
  background-color: rgba(192, 192, 192, 0.2) !important;
}

:host ::ng-deep .cup-item2 {
  background-color: rgba(205, 127, 50, 0.2) !important;
}

@media only screen and (max-width: 640px) {
  td.collapsable {
    display: none;
  }
  th.collapsable {
    display: none;
  }
}
