<app-player-table
  *ngIf="scoreWithRound$ | async as scoreWithRound"
  [score]="scoreWithRound.score"
  [rounds]="scoreWithRound.rounds"
>
  <ng-template
    #scoreRow
    let-score="score"
    let-rounds="rounds"
    let-rowIndex="rowIndex"
  >
    <td
      [class]="
        'align-center ' + (score.rounds[i]?.score[rowIndex] | scoreColor)
      "
      *ngFor="let round of rounds; let i = index"
    >
      <b>{{ score.rounds[i]?.score[rowIndex] || null }}</b>
    </td>
  </ng-template>
  <ng-template #sumRow let-score="score" let-rounds="rounds">
    <td *ngFor="let round of rounds; let i = index" class="align-center">
      <b [class]="score.rounds[i]?.sum | roundColor">{{
        score.rounds[i]?.sum || null
      }}</b>
    </td>
  </ng-template>
  <ng-template #penaltyTable let-score="score" let-rounds="rounds">
    <app-penalty-table
      *ngIf="rounds && score.penalty?.length > 0"
      [score]="score"
      [rounds]="rounds"
      [readonly]="true"
    ></app-penalty-table>
  </ng-template>
</app-player-table>
