<span
  class="kola-btn"
  (click)="op.toggle($event)"
  pBadge
  value="{{ roundsLength }}"
  >Kolá</span
>
<p-overlayPanel #op [style]="{ width: '625px' }" appendTo="body" [dismissable]="false">
  <ng-template pTemplate>
    <form [formGroup]="formGroup">
      <p-table [value]="roundsArray.controls" formArrayName="rounds">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%">Názov</th>
            <th style="width: 50%">Ihrisko</th>
            <th style="width: 4%"></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowIndex="rowIndex">
          <tr [formGroupName]="rowIndex">
            <td class="p-fluid">
              <input type="text" formControlName="name" pInputText />
            </td>
            <td class="p-fluid">
              <p-dropdown
                id="course"
                [autoDisplayFirst]="false"
                [options]="courseService.courses$ | async"
                optionValue="id"
                optionLabel="name"
                formControlName="courseId"
                appendTo="body"
              ></p-dropdown>
            </td>
            <td>
              <p-checkbox formControlName="includeInTeams" [binary]="true" inputId="binary"></p-checkbox>
            </td>
            <td>
              <ng-container *ngIf="rowIndex >= roundsArray.controls.length - 1">
                <div class="p-d-flex p-jc-evenly">
                  <button
                    pButton
                    type="button"
                    icon="pi pi-plus"
                    (click)="addRound()"
                    class="p-button-rounded"
                  ></button>
                  <button
                    *ngIf="roundsArray.controls.length > 1"
                    pButton
                    type="button"
                    icon="pi pi-minus"
                    class="p-button-rounded p-button-danger"
                    (click)="removeRound(rowIndex)"
                  ></button>
                  <p-button
                    (click)="onSubmit()"
                    [disabled]="!formGroup.valid"
                    icon="pi pi-save"
                    styleClass="p-button-rounded p-button-success"
                  ></p-button>
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </ng-template>
</p-overlayPanel>
