<form [formGroup]="formGroup">
  <p-dialog
    [header]="selectedCourse.id ? 'Upraviť ihrisko' : 'Nové ihrisko'"
    [(visible)]="showDialog"
    [modal]="true"
    [style]="{ width: '500px' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onClose()"
  >
    <p-table [value]="lanesIndex">
      <ng-template pTemplate="caption">
        <div class="p-fluid">
          <input
            type="text"
            id="name"
            pInputText
            formControlName="name"
            placeholder="Názov"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem">P.č.</th>
          <th>Názov</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-laneIndex let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td class="p-fluid">
            <input
              list="lanes"
              type="text"
              [id]="'lane' + laneIndex"
              pInputText
              [formControlName]="'lane' + laneIndex"
            />
            <datalist id="lanes">
              <option *ngFor="let lane of lanes" [value]="lane"></option>
            </datalist>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <p-button
        *ngIf="selectedCourse.id"
        icon="pi pi-trash"
        (click)="onDelete($event)"
        [disabled]="!formGroup.valid"
        label="Vymazať"
        styleClass="p-button-danger"
      ></p-button>
      <p-button
        icon="pi pi-save"
        (click)="onSubmit($event)"
        [disabled]="!formGroup.valid"
        [label]="selectedCourse.id ? 'Uložiť' : 'Pridať'"
        styleClass="p-button-success"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
