<p-table [value]="lanesIndex" [autoLayout]="true">
  <ng-template pTemplate="caption">
    <h3>
      {{ score.player.firstname }} {{ score.player.lastname }} -
      {{ score.player.category }}
    </h3>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem">P.č.</th>
      <th style="min-width: 15rem !important" class="align-center">Dráha</th>
      <th style="width: 5rem" class="align-center" *ngFor="let round of rounds">
        {{ round.name }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex">
    <tr>
      <td>
        {{ rowIndex + 1 }}
      </td>
      <td class="align-center">
        {{ courses$ | async | coursesLanes: rowIndex + 1 }}
      </td>
      <ng-container
        *ngTemplateOutlet="
          scoreRow;
          context: {
            score: score,
            rounds: rounds,
            rowIndex: rowIndex
          }
        "
      ></ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td>Spolu</td>
      <td class="p-pl-0 p-pr-0">
        <div class="p-d-flex p-jc-end">
          <div class="result-row align-center">
            <ng-content select="[saveButton]"></ng-content>
          </div>
        </div>
      </td>
      <ng-container
        *ngTemplateOutlet="sumRow; context: { score: score, rounds: rounds }"
      ></ng-container>
    </tr>
    <tr class="bottom-footer">
      <td [attr.colspan]="rounds.length + 2" class="p-pl-0 p-pr-0">
        <div class="p-d-flex p-jc-end">
          <ng-container *ngIf="score.penalty.length > 0">
            <div class="result-row align-center">T:</div>
            <div class="result-row align-center red">
              {{ score | penaltyTable }}
            </div>
          </ng-container>
          <div class="result-row align-center">Sum:</div>
          <div
            [class]="'result-row align-center ' + (score.average | roundColor)"
          >
            {{ score.totalSum }}
          </div>
        </div>
      </td>
    </tr>
    <tr class="bottom-footer">
      <td [attr.colspan]="rounds.length + 2" class="p-pl-0 p-pr-0">
        <div class="p-d-flex p-jc-end">
          <div class="result-row align-center">Diff:</div>
          <div class="result-row align-center">{{ score.diffs[0] }}</div>
          <div class="result-row align-center">Avg:</div>
          <div
            [class]="'result-row align-center ' + (score.average | roundColor)"
          >
            {{ score.average | number: "1.0-2" }}
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-container
  *ngTemplateOutlet="penaltyTable; context: { score: score, rounds: rounds }"
></ng-container>
