<p-table
  [value]="clubsService.clubs$ | async"
  sortField="name"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <h3>Kluby</h3>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%">P.č.</th>
      <th pSortableColumn="name">
        Názov <p-sortIcon field="name"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-club let-rowIndex="rowIndex">
    <tr (click)="onSelectClub(club)">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ club.name }}</td>
    </tr>
  </ng-template>
</p-table>
